@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

:root {
	--white-clr: #fff;
}

* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

html {
	font-size: 62.5%;
}

body {
	min-height: 100vh;
	color: var(--white-clr);
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
}

.flex-wrapper {
	display: flex;
}

.App {
	min-height: 100vh;
	flex-direction: column;
}

.container {
	padding: 0 13px;
}

button {
	cursor: pointer;
	background-color: transparent;
	border: 0;
	outline: none;
}
